@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.container {
    width: 100%;
    display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
}
.container div{
display: flex;
justify-content: center;
align-items: center;
}
.weathercontainer{
    position: relative;

}

.weathercontainer div svg{
    position: relative;
    top: 0;
    left: 0;
}

