<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <svg
      width="256"
      height="328"
      viewBox="0 0 256 328"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Azimuth Middle">
        <g id="instrument">
          <text
            id="title"
            fill="black"
            fill-opacity="0.6"
            xml:space="preserve"
            style="white-space: pre"
            font-family="Open Sans"
            font-size="12"
            font-weight="600"
            letter-spacing="1.125px"
          >
            <tspan x="91.3555" y="16.6553">AZIMUTH 1</tspan>
          </text>
          <g id="Azimuth M">
            <g id="azimuth-component">
              <g id="watchface">
                <g id="watchface_2">
                  <g id="frame">
                    <path
                      id="frame_2"
                      d="M128 252.5C183.505 252.5 228.5 207.505 228.5 152C228.5 96.4954 183.505 51.5 128 51.5C72.4954 51.5 27.5 96.4954 27.5 152C27.5 207.505 72.4954 252.5 128 252.5ZM215.5 152C215.5 200.325 176.325 239.5 128 239.5C79.6751 239.5 40.5 200.325 40.5 152C40.5 103.675 79.6751 64.5 128 64.5C176.325 64.5 215.5 103.675 215.5 152Z"
                      fill="white"
                      stroke="#D6D6D6"
                    />
                  </g>
                  <g id="secondary-tick-marks">
                    <path
                      id="tick-marks"
                      d="M128 242V250M38 152H30M128 62V54M218 152H226"
                      stroke="#D6D6D6"
                    />
                  </g>
                  <path id="top-line" d="M128 52V64" stroke="#D6D6D6" />
                </g>
              </g>
              <g id="thruster">
                <g id="thruster_2">
                  <g id="ThrusterElement">
                    <rect
                      x="147.5"
                      y="72.5003"
                      width="159"
                      height="39"
                      rx="1.5"
                      transform="rotate(90 147.5 72.5003)"
                      fill="white"
                    />
                    <g id="Track">
                      <rect
                        x="140.5"
                        y="72.5003"
                        width="159"
                        height="25"
                        transform="rotate(90 140.5 72.5003)"
                        fill="#F0F0F0"
                      />
                      <rect
                        x="140.5"
                        y="72.5003"
                        width="159"
                        height="25"
                        transform="rotate(90 140.5 72.5003)"
                        stroke="#D6D6D6"
                      />
                    </g>
                    <g id="Power">
                      <rect
                        id="Bar"
                        x="140"
                        y="100"
                        width="52"
                        height="24"
                        transform="rotate(90 140 100)"
                        fill="#166CE4"
                      />
                    </g>
                    <g id="Setpoint">
                      <g id="Arrow">
                        <path
                          id="Shape"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M149 89.0001C149 88.1761 148.059 87.7057 147.4 88.2001L141 93.0001L147.4 97.8001C148.059 98.2946 149 97.8242 149 97.0001V89.0001ZM107 97.0001C107 97.8242 107.941 98.2946 108.6 97.8001L115 93.0001L108.6 88.2001C107.941 87.7057 107 88.1761 107 89.0001V97.0001Z"
                          fill="#305792"
                        />
                      </g>
                    </g>
                    <rect
                      x="147.5"
                      y="72.5003"
                      width="159"
                      height="39"
                      rx="1.5"
                      transform="rotate(90 147.5 72.5003)"
                      stroke="#D6D6D6"
                    />
                  </g>
                  <path
                    id="FrontArrow"
                    d="M138.105 70.0531C138.577 70.289 138.409 71.0003 137.882 71.0003L118.118 71.0003C117.59 71.0003 117.422 70.289 117.894 70.0531L128 65.0003L138.105 70.0531Z"
                    fill="#333333"
                  />
                  <path
                    id="center-line"
                    d="M148 152L108 152"
                    stroke="#D6D6D6"
                  />
                </g>
              </g>
              <g id="setpoint">
                <g id="Arrow_2">
                  <path
                    id="Shape_2"
                    d="M194.015 75.8808C194.217 75.1401 195.143 74.8939 195.686 75.4369L204.563 84.3136C205.106 84.8565 204.86 85.7835 204.119 85.9855L190.225 89.7747L194.015 75.8808Z"
                    fill="#305792"
                  />
                </g>
              </g>
            </g>
          </g>
        </g>
        <g id="labels">
          <g id="label-1">
            <g id="Single-label">
              <text
                id="Label"
                fill="black"
                fill-opacity="0.6"
                xml:space="preserve"
                style="white-space: pre"
                font-family="Open Sans"
                font-size="32"
                letter-spacing="0em"
              >
                <tspan x="48" y="315.414">Power</tspan>
              </text>
            </g>
            <g id="value-unit">
              <g id="Single-value">
                <text
                  id="000"
                  fill="#166CE4"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  font-weight="600"
                  letter-spacing="0em"
                >
                  <tspan id="azimuthPowerVal" x="144.188" y="312.414">67</tspan>
                </text>
              </g>
              <g id="Single-unit">
                <text
                  id="unit"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="181" y="315.414">%</tspan>
                </text>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <script>
      var thrusterElement = document.querySelector("#ThrusterElement");
      var AzimuthPowerVal = document.querySelector("#Power");
      var AzimuthElementTargetsetPoint = document.querySelector(
        "#ThrusterElement setpoint"
      );
      var AzimuthTargetsetPoint = document.querySelector(
        "#azimuth-component setpoint"
      );
      var azimuthVal = document.querySelector("#azimuthPowerVal");

      thrusterElement.innerHTML = 'transform = "rotate(90 147.5 72.5003)"';
      AzimuthPowerVal.innerHTML = 'width = "52" height = "24"';
      azimuthVal.innerHTML = 200;
      AzimuthElementTargetsetPoint.innerHTML =
        'transform="rotate(90 147.5 72.5003)"';
      AzimuthTargetsetPoint.innerHTML = 200;
    </script>
  </body>
</html>
