<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <svg
      width="271"
      height="82"
      viewBox="0 0 271 82"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Frame 295">
        <g id="Frame 375">
          <g id="Frame 373">
            <g id="Frame 371">
              <text
                id="N"
                fill="black"
                fill-opacity="0.6"
                xml:space="preserve"
                style="white-space: pre"
                font-family="Open Sans"
                font-size="16"
                font-weight="bold"
                letter-spacing="0px"
              >
                <tspan x="5.49219" y="28.207">N</tspan>
              </text>
              <g id="Horizontal-S">
                <g id="value-unit">
                  <g id="Single-value">
                    <text
                      id="000"
                      fill="#166CE4"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="24"
                      font-weight="600"
                      letter-spacing="-0.01em"
                    >
                      <tspan id="nCoordinatesLeft" x="50.3719" y="31.3105">
                        41&#xb0;03.441&#x2019;
                      </tspan>
                    </text>
                  </g>
                </g>
              </g>
            </g>
          </g>
          <g id="Frame 374">
            <g id="Frame 371_2">
              <text
                id="W"
                fill="black"
                fill-opacity="0.6"
                xml:space="preserve"
                style="white-space: pre"
                font-family="Open Sans"
                font-size="16"
                font-weight="bold"
                letter-spacing="0px"
              >
                <tspan x="4.26562" y="63.707">W</tspan>
              </text>
              <g id="Horizontal-S_2">
                <g id="value-unit_2">
                  <g id="Single-value_2">
                    <text
                      id="000_2"
                      fill="#166CE4"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="24"
                      font-weight="600"
                      letter-spacing="-0.01em"
                    >
                      <tspan id="wCoordinatesLeft" x="37.1247" y="66.8105">
                        071&#xb0;16.676&#x2019;
                      </tspan>
                    </text>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
        <g id="Dropdown">
          <g id="Button">
            <g id="button">
              <g id="content">
                <g id="textbox">
                  <text
                    id="label"
                    fill="black"
                    fill-opacity="0.9"
                    xml:space="preserve"
                    style="white-space: pre"
                    font-family="Open Sans"
                    font-size="16"
                    font-weight="600"
                    letter-spacing="0px"
                  >
                    <tspan x="182" y="47.207">GPS</tspan>
                  </text>
                </g>
              </g>
              <g id="02-arrow-drop-down">
                <path
                  id="Icon"
                  d="M224 39L229 44L234 39H224Z"
                  fill="black"
                  fill-opacity="0.55"
                />
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <script>
      var nCoordinatesL = document.querySelector("#nCoordinatesLeft");
      var wCoordinatesL = document.querySelector("#wCoordinatesLeft");

      nCoordinatesL.innerHTML = 140 & #xb0; 6.676 & #x2019;
      wCoordinatesL.innerHTML = 29 & #xb0; 15.441 & #x2019;
    </script>
  </body>
</html>
