<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <svg
      width="376"
      height="176"
      viewBox="0 0 376 176"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Frame 347">
        <g id="Frame 346">
          <g id="Frame 344">
            <g id="Vertical-M">
              <g id="Single-label">
                <text
                  id="Label"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="0" y="47.4141">Pitch</tspan>
                </text>
              </g>
              <g id="value-unit">
                <g id="Single-value">
                  <text
                    id="000"
                    fill="#166CE4"
                    xml:space="preserve"
                    style="white-space: pre"
                    font-family="Open Sans"
                    font-size="32"
                    font-weight="600"
                    letter-spacing="0em"
                  >
                    <tspan id="PitchValLeft" x="10" y="76.4141">67</tspan>
                  </text>
                </g>
                <g id="Single-unit">
                  <text
                    id="unit"
                    fill="black"
                    fill-opacity="0.6"
                    xml:space="preserve"
                    style="white-space: pre"
                    font-family="Open Sans"
                    font-size="32"
                    letter-spacing="0em"
                  >
                    <tspan x="47" y="79.4141">%</tspan>
                  </text>
                </g>
              </g>
            </g>
            <g id="Vertical-M_2">
              <g id="Single-label_2">
                <text
                  id="Label_2"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="6" y="121.414">RPM</tspan>
                </text>
              </g>
              <g id="value-unit_2">
                <g id="Single-value_2">
                  <text
                    id="000_2"
                    fill="#166CE4"
                    xml:space="preserve"
                    style="white-space: pre"
                    font-family="Open Sans"
                    font-size="32"
                    font-weight="600"
                    letter-spacing="0em"
                  >
                    <tspan id="RPMValLeft" x="0.375" y="150.414">1250</tspan>
                  </text>
                </g>
              </g>
            </g>
          </g>
          <g id="Thruster Left">
            <g id="thruster">
              <g id="ThrusterElement">
                <rect
                  x="135.5"
                  y="8.50003"
                  width="159"
                  height="39"
                  rx="1.5"
                  transform="rotate(90 135.5 8.50003)"
                  fill="white"
                />
                <g id="Track">
                  <rect
                    x="128.5"
                    y="8.50003"
                    width="159"
                    height="25"
                    transform="rotate(90 128.5 8.50003)"
                    fill="#F0F0F0"
                  />
                  <rect
                    x="128.5"
                    y="8.50003"
                    width="159"
                    height="25"
                    transform="rotate(90 128.5 8.50003)"
                    stroke="#D6D6D6"
                  />
                </g>
                <g id="Power">
                  <rect
                    id="Bar"
                    x="128"
                    y="36"
                    width="52"
                    height="24"
                    transform="rotate(90 128 36)"
                    fill="#166CE4"
                  />
                </g>
                <g id="Setpoint">
                  <g id="Arrow">
                    <path
                      id="Shape"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M137 24.9999C137 24.1758 136.059 23.7055 135.4 24.1999L129 28.9999L135.4 33.7999C136.059 34.2943 137 33.8239 137 32.9999L137 24.9999ZM95 32.9999C95 33.8239 95.9408 34.2943 96.6 33.7999L103 28.9999L96.6 24.1999C95.9408 23.7055 95 24.1758 95 24.9999L95 32.9999Z"
                      fill="#305792"
                    />
                  </g>
                </g>
                <rect
                  x="135.5"
                  y="8.50003"
                  width="159"
                  height="39"
                  rx="1.5"
                  transform="rotate(90 135.5 8.50003)"
                  stroke="#D6D6D6"
                />
              </g>
              <path
                id="FrontArrow"
                d="M126.106 6.05281C126.577 6.28877 126.41 7.00003 125.882 7.00002L106.118 7.00002C105.59 7.00002 105.422 6.28876 105.894 6.05281L116 1.00002L126.106 6.05281Z"
                fill="#333333"
              />
              <path id="center-line" d="M136 88L96 88" stroke="#D6D6D6" />
            </g>
          </g>
        </g>
        <g id="Frame 345">
          <g id="Thruster Right">
            <g id="thruster_2">
              <g id="ThrusterElement_2">
                <rect
                  x="279.5"
                  y="8.50005"
                  width="159"
                  height="39"
                  rx="1.5"
                  transform="rotate(90 279.5 8.50005)"
                  fill="white"
                />
                <g id="Track_2">
                  <rect
                    x="272.5"
                    y="8.50005"
                    width="159"
                    height="25"
                    transform="rotate(90 272.5 8.50005)"
                    fill="#F0F0F0"
                  />
                  <rect
                    x="272.5"
                    y="8.50005"
                    width="159"
                    height="25"
                    transform="rotate(90 272.5 8.50005)"
                    stroke="#D6D6D6"
                  />
                </g>
                <g id="Power_2">
                  <rect
                    id="Bar_2"
                    x="272"
                    y="36.0001"
                    width="52"
                    height="24"
                    transform="rotate(90 272 36.0001)"
                    fill="#166CE4"
                  />
                </g>
                <g id="Setpoint_2">
                  <g id="Arrow_2">
                    <path
                      id="Shape_2"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M281 24.9999C281 24.1759 280.059 23.7055 279.4 24.1999L273 28.9999L279.4 33.7999C280.059 34.2943 281 33.824 281 32.9999L281 24.9999ZM239 32.9999C239 33.824 239.941 34.2943 240.6 33.7999L247 28.9999L240.6 24.1999C239.941 23.7055 239 24.1759 239 24.9999L239 32.9999Z"
                      fill="#305792"
                    />
                  </g>
                </g>
                <rect
                  x="279.5"
                  y="8.50005"
                  width="159"
                  height="39"
                  rx="1.5"
                  transform="rotate(90 279.5 8.50005)"
                  stroke="#D6D6D6"
                />
              </g>
              <path
                id="FrontArrow_2"
                d="M270.106 6.05284C270.577 6.28879 270.41 7.00005 269.882 7.00005L250.118 7.00005C249.59 7.00005 249.422 6.28879 249.894 6.05283L260 1.00005L270.106 6.05284Z"
                fill="#333333"
              />
              <path
                id="center-line_2"
                d="M280 88.0001L240 88"
                stroke="#D6D6D6"
              />
            </g>
          </g>
          <g id="Frame 344_2">
            <g id="Vertical-M_3">
              <g id="Single-label_3">
                <text
                  id="Label_3"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="302" y="47.4141">Pitch</tspan>
                </text>
              </g>
              <g id="value-unit_3">
                <g id="Single-value_3">
                  <text
                    id="000_3"
                    fill="#166CE4"
                    xml:space="preserve"
                    style="white-space: pre"
                    font-family="Open Sans"
                    font-size="32"
                    font-weight="600"
                    letter-spacing="0em"
                  >
                    <tspan id="PitchValR" x="302" y="76.4141">67</tspan>
                  </text>
                </g>
                <g id="Single-unit_2">
                  <text
                    id="unit_2"
                    fill="black"
                    fill-opacity="0.6"
                    xml:space="preserve"
                    style="white-space: pre"
                    font-family="Open Sans"
                    font-size="32"
                    letter-spacing="0em"
                  >
                    <tspan x="339" y="79.4141">%</tspan>
                  </text>
                </g>
              </g>
            </g>
            <g id="Vertical-M_4">
              <g id="Single-label_4">
                <text
                  id="Label_4"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="302" y="121.414">RPM</tspan>
                </text>
              </g>
              <g id="value-unit_4">
                <g id="Single-value_4">
                  <text
                    id="000_4"
                    fill="#166CE4"
                    xml:space="preserve"
                    style="white-space: pre"
                    font-family="Open Sans"
                    font-size="32"
                    font-weight="600"
                    letter-spacing="0em"
                  >
                    <tspan id="RPMValRight" x="302.375" y="150.414">1250</tspan>
                  </text>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <script>
      var pitchValL = document.querySelector("#PitchValLeft");
      var rpmValL = document.querySelector("#RPMValLeft");
      var thrusterElL = document.querySelector("#ThrusterElement");
      var thrusterElPowerL = document.querySelector("#Power");
      var setPointL = document.querySelector("#Setpoint");

      var pitchValR = document.querySelector("#PitchValR");
      var rpmValR = document.querySelector("#RPMValRight");
      var thusterElR = document.querySelector("#ThrusterElement_2");
      var thrusterElPowerR = document.querySelector("#Power_2");
      var setPointR = document.querySelector("#Setpoint_2");

      pitchValL.innerHTML = 50;
      rpmValL.innerHTML = 50;
      thrusterElL.innerHTML = 50;
      thrusterElPowerL.innerHTML = 50;
      setPointL.innerHTML = 50;
      pitchValR.innerHTML = 50;
      rpmValR.innerHTML = 50;
      thusterElR.innerHTML = 50;
      thrusterElPowerR.innerHTML = 50;
      setPointR.innerHTML = 50;
    </script>
  </body>
</html>
