<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg width="540" height="966" viewBox="0 0 540 966" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Ship - Top">
            <path id="Ship"
                d="M1 297.229C1 147.87 193.748 1 270 1C346.252 1 539 142.891 539 297.229V924.833C539 947.017 508.891 965 471.75 965H68.25C31.1089 965 1 947.017 1 924.833V297.229Z"
                fill="white" stroke="#8C8C8C" />
        </g>
    </svg>
<script>
    var shipShape = document.querySelector("#Ship");
    shipShape.innerHTML;
</script>
</body>
</html>