<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg width="395" height="401" viewBox="0 0 395 401" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Speed">
            <g id="Speedometer L">
                <g id="Radial bar filled L">
                    <g id="radial-bar-component">
                        <g id="watch-face">
                            <g id="watchface">
                                <g id="Secondary">
                                    <path id="tick-marks"
                                        d="M299.961 157.527L304.566 155.596M197.5 88.207V83.1602M95.0398 157.527L90.4348 155.596M275.92 279.903L279.445 283.472M119.081 279.903L115.556 283.472"
                                        stroke="#8C8C8C" />
                                </g>
                                <g id="Labels">
                                    <g id="100">
                                        <g id="LabelFrame">
                                            <text id="100_2" transform="translate(277.502 278.486) scale(0.99375 1.00621)"
                                                fill="#1A1A1A" xml:space="preserve" style="white-space: pre"
                                                font-family="Open Sans" font-size="16" font-weight="bold"
                                                letter-spacing="0px">
                                                <tspan id="SpeedMaxLabel" x="0.34375" y="18.207">20</tspan>
                                            </text>
                                        </g>
                                    </g>
                                    <g id="50">
                                        <g id="LabelFrame_2">
                                            <text id="50_2" fill="#1A1A1A" xml:space="preserve" style="white-space: pre"
                                                font-family="Open Sans" font-size="16" letter-spacing="0px">
                                                <tspan id="SpeedMidLabel" x="188.406" y="80.3945">10</tspan>
                                            </text>
                                        </g>
                                    </g>
                                    <g id="25">
                                        <g id="LabelFrame_3">
                                            <text id="25_2" transform="translate(76.4338 140.407) scale(0.99686 1.00309)"
                                                fill="#1A1A1A" xml:space="preserve" style="white-space: pre"
                                                font-family="Open Sans" font-size="16" letter-spacing="0px">
                                                <tspan id="SpeedLowQuarterLabel" x="0.421875" y="18.207">5</tspan>
                                            </text>
                                        </g>
                                    </g>
                                    <g id="101">
                                        <g id="LabelFrame_4">
                                            <text id="75" transform="translate(303.647 140.407) scale(0.99686 1.00309)"
                                                fill="#1A1A1A" xml:space="preserve" style="white-space: pre"
                                                font-family="Open Sans" font-size="16" letter-spacing="0px">
                                                <tspan id="SpeedHighQuarterLabel" x="0.34375" y="18.207">15</tspan>
                                            </text>
                                        </g>
                                    </g>
                                    <g id="0">
                                        <g id="LabelFrame_5">
                                            <text id="0_2" transform="scale(0.99375 1.00621)" fill="#1A1A1A"
                                                xml:space="preserve" style="white-space: pre" font-family="Open Sans"
                                                font-size="16" font-weight="bold" letter-spacing="0px">
                                                <tspan id="SpeedMinValue" x="104.945" y="296.693">0</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g id="radial-bar">
                            <g id="bar-component">
                                <path id="track"
                                    d="M273.804 277.766C293.332 257.992 305.41 230.673 305.41 200.5C305.41 140.158 257.103 91.2305 197.5 91.2305C137.897 91.2305 89.59 140.158 89.59 200.5C89.59 230.673 101.668 257.992 121.196 277.766C121.635 278.21 122.346 278.206 122.782 277.764L132.44 267.984C132.878 267.541 132.873 266.827 132.439 266.388C115.789 249.525 105.491 226.232 105.491 200.5C105.491 149.032 146.691 107.32 197.5 107.32C248.31 107.32 289.509 149.032 289.509 200.5C289.509 226.232 279.211 249.525 262.561 266.388C262.127 266.827 262.122 267.541 262.56 267.984L272.218 277.764C272.654 278.206 273.365 278.21 273.804 277.766Z"
                                    fill="white" stroke="#D6D6D6" />
                                <g id="bar">
                                    <mask id="mask0_39006_292969" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="84"
                                        y="86" width="194" height="196">
                                        <path id="bar-mask"
                                            d="M117.598 281.413C107.106 270.787 98.7822 258.173 93.1035 244.29C87.4248 230.407 84.502 215.527 84.502 200.5C84.502 185.473 87.4248 170.593 93.1035 156.71C98.7822 142.827 107.106 130.213 117.598 119.587C128.091 108.961 140.548 100.533 154.258 94.7822C167.967 89.0317 182.661 86.0719 197.5 86.0719C212.339 86.0719 227.033 89.0317 240.742 94.7823C254.452 100.533 266.909 108.962 277.402 119.587L197.5 200.5L117.598 281.413Z"
                                            fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_39006_292969)">
                                        <path id="bar-shape"
                                            d="M304.41 200.5C304.41 230.401 292.442 257.47 273.092 277.063C273.048 277.108 272.977 277.109 272.929 277.062L263.271 267.281C263.221 267.231 263.22 267.144 263.273 267.09C280.101 250.047 290.509 226.503 290.509 200.5C290.509 148.492 248.874 106.32 197.5 106.32C146.126 106.32 104.491 148.492 104.491 200.5C104.491 226.503 114.899 250.047 131.727 267.09C131.78 267.144 131.779 267.231 131.729 267.281L122.071 277.062C122.024 277.109 121.952 277.108 121.908 277.063C102.558 257.47 90.5898 230.401 90.5898 200.5C90.5898 140.698 138.461 92.2305 197.5 92.2305C256.539 92.2305 304.41 140.698 304.41 200.5Z"
                                            fill="#166CE4" stroke="white" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Center-L">
                <g id="frame">
                    <circle cx="198" cy="201" r="96" fill="#F7F7F7" />
                    <circle cx="198" cy="201" r="95.5" stroke="black" stroke-opacity="0.08" />
                </g>
                <g id="labels">
                    <g id="primary-label">
                        <g id="value-unit">
                            <g id="Single-value">
                                <text id="000" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                    font-family="Open Sans" font-size="64" font-weight="600" letter-spacing="0em">
                                    <tspan id="SpeedValue" x="152.5" y="212.828">7.8</tspan>
                                </text>
                            </g>
                            <g id="Single-unit">
                                <text id="unit" fill="black" fill-opacity="0.6" xml:space="preserve"
                                    style="white-space: pre" font-family="Open Sans" font-size="16" letter-spacing="0px">
                                    <tspan x="188.5" y="237.207">kn</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
<script>
    var speedShip = document.querySelector("#SpeedValue");
    var speedShip = document.querySelector("#SpeedMaxLabel");
    var speedShip = document.querySelector("#SpeedMidLabel");
    var speedShip = document.querySelector("#SpeedLowQuarterLabel");
    var speedShip = document.querySelector("#SpeedHighQuarterLabel");
    var speedShip = document.querySelector("#SpeedMinValue");
    trueSpeed.innerHTML = 'transform="rotate(90 0 0)"';
</script>
</body>
</html>