<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg width="521" height="293" viewBox="0 0 521 293" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Frame 326">
            <g id="Cards" filter="url(#filter0_d_39060_254093)">
                <g clip-path="url(#clip0_39060_254093)">
                    <rect x="1" width="519" height="291" rx="2" fill="#F7F7F7" />
                </g>
            </g>
            <g id="Frame 301">
                <g id="Frame 300">
                    <text id="Current leg" fill="#666666" xml:space="preserve" style="white-space: pre"
                        font-family="Open Sans" font-size="16" letter-spacing="0px">
                        <tspan x="25.3826" y="63.124">Current leg</tspan>
                    </text>
                    <g id="Vertical-S">
                        <g id="Single-label">
                            <text id="Label" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="16" letter-spacing="0px">
                                <tspan x="25.5466" y="97.124">Course</tspan>
                            </text>
                        </g>
                        <g id="value-unit">
                            <g id="Single-value">
                                <text id="000" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                    font-family="Open Sans" font-size="24" font-weight="600" letter-spacing="0em">
                                    <tspan id="CourseValLeft" x="30.1794" y="124.728">000</tspan>
                                </text>
                                <text id="Degree" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                    font-family="Open Sans" font-size="24" font-weight="600" letter-spacing="0em">
                                    <tspan x="71.3826" y="124.728">&#xb0;</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                    <g id="Vertical-S_2">
                        <g id="Single-label_2">
                            <text id="Label_2" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="16" letter-spacing="0px">
                                <tspan x="25.5935" y="153.124">Distance to WOL</tspan>
                            </text>
                        </g>
                        <g id="value-unit_2">
                            <g id="Single-value_2">
                                <text id="000_2" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                    font-family="Open Sans" font-size="24" font-weight="600" letter-spacing="0em">
                                    <tspan id="distanceToWOLLeft" x="25.781" y="180.728">000</tspan>
                                </text>
                            </g>
                            <g id="Single-unit">
                                <text id="unit" fill="black" fill-opacity="0.6" xml:space="preserve"
                                    style="white-space: pre" font-family="Open Sans" font-size="16" letter-spacing="0px">
                                    <tspan x="67.3826" y="181.124">NM</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                    <g id="Vertical-S_3">
                        <g id="Single-label_3">
                            <text id="Label_3" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="16" letter-spacing="0px">
                                <tspan x="25.4373" y="209.124">Time to WOL</tspan>
                            </text>
                        </g>
                        <g id="value-unit_3">
                            <g id="Single-value_3">
                                <text id="000_3" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                    font-family="Open Sans" font-size="24" font-weight="600" letter-spacing="0em">
                                    <tspan id="timeToWOLLeft" x="25.4607" y="236.728">0:05:32</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
                <g id="Frame 61">
                    <path id="Union" fill-rule="evenodd" clip-rule="evenodd"
                        d="M193.638 112.766L187.12 119.066L159.383 92.2574L187.12 65.4489L193.638 71.7489L178.616 86.2999H220.446C225.382 86.2999 229.383 90.3008 229.383 95.2361V144.385H217.468V98.2149H178.616L193.638 112.766Z"
                        fill="#166CE4" />
                    <g id="Frame 59">
                        <rect id="Rectangle 38" x="217.383" y="152.385" width="12" height="10" fill="#166CE4" />
                        <rect id="Rectangle 39" x="217.383" y="170.385" width="12" height="10" fill="#166CE4" />
                        <rect id="Rectangle 40" x="217.383" y="188.385" width="12" height="10" fill="#166CE4" />
                        <rect id="Rectangle 41" x="217.383" y="206.385" width="12" height="10" fill="#166CE4" />
                    </g>
                </g>
                <g id="Frame 314">
                    <g id="Frame 305">
                        <g id="Frame 304">
                            <g id="Frame 303">
                                <text id="Steering mode" fill="black" xml:space="preserve" style="white-space: pre"
                                    font-family="Open Sans" font-size="16" letter-spacing="0px">
                                    <tspan x="239.867" y="63.124">Steering mode</tspan>
                                </text>
                                <g id="Horizontal-S">
                                    <g id="Single-label_4">
                                        <text id="Label_4" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                            font-family="Open Sans" font-size="24" font-weight="600" letter-spacing="0em">
                                            <tspan x="414.613" y="64.2276">Track</tspan>
                                        </text>
                                    </g>
                                </g>
                            </g>
                            <g id="Frame 302">
                                <g id="Vertical-S_4">
                                    <g id="Single-label_5">
                                        <text id="Label_5" fill="black" fill-opacity="0.6" xml:space="preserve"
                                            style="white-space: pre" font-family="Open Sans" font-size="16"
                                            letter-spacing="0px">
                                            <tspan x="243.547" y="105.124">Course</tspan>
                                        </text>
                                    </g>
                                    <g id="value-unit_4">
                                        <g id="Single-value_4">
                                            <text id="000_4" fill="#305792" xml:space="preserve" style="white-space: pre"
                                                font-family="Open Sans" font-size="24" font-weight="600"
                                                letter-spacing="0em">
                                                <tspan id="courseValRight" x="248.179" y="132.728">000</tspan>
                                            </text>
                                            <text id="Degree_2" fill="#305792" xml:space="preserve" style="white-space: pre"
                                                font-family="Open Sans" font-size="24" font-weight="600"
                                                letter-spacing="0em">
                                                <tspan x="289.383" y="132.728">&#xb0;</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                <g id="Vertical-S_5">
                                    <g id="Single-label_6">
                                        <text id="Label_6" fill="black" fill-opacity="0.6" xml:space="preserve"
                                            style="white-space: pre" font-family="Open Sans" font-size="16"
                                            letter-spacing="0px">
                                            <tspan x="332.812" y="105.124">ROT</tspan>
                                        </text>
                                    </g>
                                    <g id="value-unit_5">
                                        <g id="Single-value_5">
                                            <text id="000_5" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                style="white-space: pre" font-family="Open Sans" font-size="24"
                                                font-weight="600" letter-spacing="0em">
                                                <tspan id="ROTValRight" x="332.781" y="132.728">---</tspan>
                                            </text>
                                        </g>
                                        <g id="Single-unit_2">
                                            <text id="unit_2" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                style="white-space: pre" font-family="Open Sans" font-size="16"
                                                letter-spacing="0px">
                                                <tspan x="356.383" y="133.124">/min</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                                <g id="Vertical-S_6">
                                    <g id="Single-label_7">
                                        <text id="Label_7" fill="black" fill-opacity="0.6" xml:space="preserve"
                                            style="white-space: pre" font-family="Open Sans" font-size="16"
                                            letter-spacing="0px">
                                            <tspan x="423.859" y="105.124">Radius</tspan>
                                        </text>
                                    </g>
                                    <g id="value-unit_6">
                                        <g id="Single-value_6">
                                            <text id="000_6" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                style="white-space: pre" font-family="Open Sans" font-size="24"
                                                font-weight="600" letter-spacing="0em">
                                                <tspan id="RadiusValRight" x="423.781" y="132.728">---</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g id="Frame 313">
                            <g id="Frame 309">
                                <text id="Next Leg" fill="#666666" xml:space="preserve" style="white-space: pre"
                                    font-family="Open Sans" font-size="16" letter-spacing="0px">
                                    <tspan x="239.383" y="183.124">Next Leg</tspan>
                                </text>
                                <g id="Frame 308">
                                    <g id="Frame 307">
                                        <g id="Vertical-S_7">
                                            <g id="Single-label_8">
                                                <text id="Label_8" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                    style="white-space: pre" font-family="Open Sans" font-size="12"
                                                    letter-spacing="0px">
                                                    <tspan x="239.808" y="215.572">Next course</tspan>
                                                </text>
                                            </g>
                                            <g id="value-unit_7">
                                                <g id="Single-value_7">
                                                    <text id="000_7" fill="#333333" xml:space="preserve"
                                                        style="white-space: pre" font-family="Open Sans" font-size="16"
                                                        font-weight="600" letter-spacing="0em">
                                                        <tspan id="NextCourseValRight" x="239.383" y="237.124">000</tspan>
                                                    </text>
                                                </g>
                                            </g>
                                        </g>
                                        <g id="Vertical-S_8">
                                            <g id="Single-label_9">
                                                <text id="Label_9" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                    style="white-space: pre" font-family="Open Sans" font-size="12"
                                                    letter-spacing="0px">
                                                    <tspan x="331.383" y="215.572">Dist to WOL</tspan>
                                                </text>
                                            </g>
                                            <g id="value-unit_8">
                                                <g id="Single-value_8">
                                                    <text id="000_8" fill="#1A1A1A" xml:space="preserve"
                                                        style="white-space: pre" font-family="Open Sans" font-size="16"
                                                        font-weight="600" letter-spacing="0em">
                                                        <tspan id="distanceToWOLRight" x="331.383" y="237.124">0.9</tspan>
                                                    </text>
                                                </g>
                                                <g id="Single-unit_3">
                                                    <text id="unit_3" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                        style="white-space: pre" font-family="Open Sans" font-size="16"
                                                        letter-spacing="0em">
                                                        <tspan x="354.383" y="237.124">NM</tspan>
                                                    </text>
                                                </g>
                                            </g>
                                        </g>
                                        <g id="Vertical-S_9">
                                            <g id="Single-label_10">
                                                <text id="Label_10" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                    style="white-space: pre" font-family="Open Sans" font-size="12"
                                                    letter-spacing="0px">
                                                    <tspan x="422.383" y="215.572">Time to WOL</tspan>
                                                </text>
                                            </g>
                                            <g id="value-unit_9">
                                                <g id="Single-value_9">
                                                    <text id="000_9" fill="#333333" xml:space="preserve"
                                                        style="white-space: pre" font-family="Open Sans" font-size="16"
                                                        font-weight="600" letter-spacing="0em">
                                                        <tspan id="timeToWOLRight" x="422.383" y="237.124">0:0:12</tspan>
                                                    </text>
                                                </g>
                                                <g id="Single-unit_4">
                                                    <text id="unit_4" fill="black" fill-opacity="0.6" xml:space="preserve"
                                                        style="white-space: pre" font-family="Open Sans" font-size="16"
                                                        letter-spacing="0em">
                                                        <tspan x="468.383" y="237.124">s</tspan>
                                                    </text>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
        <defs>
            <filter id="filter0_d_39060_254093" x="0" y="0" width="521" height="293" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="0.5" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_39060_254093" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_39060_254093" result="shape" />
            </filter>
            <clipPath id="clip0_39060_254093">
                <rect x="1" width="519" height="291" rx="2" fill="white" />
            </clipPath>
        </defs>
    </svg>
<script>
    
    var courseValL = document.querySelector("#CourseValLeft");
    var distanceToWOLL = document.querySelector("#distanceToWOLLeft");
    var timeToWOLL = document.querySelector("#timeToWOLLeft");
    var courseValR = document.querySelector("#courseValRight");
    var ROTValR = document.querySelector("#ROTValRight");
    var RightValR = document.querySelector("#RadiusValRight");
    var nextCourseValR = document.querySelector("#NextCourseValRight");
    var distanceToWOLR = document.querySelector("#distanceToWOLRight");
    var timeToWOLR = document.querySelector("#timeToWOLRight");
    
    courseValL.innerHTML = 050;
    distanceToWOLL.innerHTML = 050;
    timeToWOLL.innerHTML = 050;
    courseValR.innerHTML = 050;
    ROTValR.innerHTML = 050;
    RightValR.innerHTML = 050;
    nextCourseValR.innerHTML = 050;
    distanceToWOLR.innerHTML = 050;
    timeToWOLR.innerHTML = 0:5:0;
    
</script>
</body>
</html>