<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg width="278" height="82" viewBox="0 0 278 82" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Frame 296">
            <g id="Frame 375">
                <g id="Frame 373">
                    <g id="Frame 371">
                        <g id="access_time" clip-path="url(#clip0_39060_256341)">
                            <path id="Vector"
                                d="M11.99 14.5C6.47 14.5 2 18.98 2 24.5C2 30.02 6.47 34.5 11.99 34.5C17.52 34.5 22 30.02 22 24.5C22 18.98 17.52 14.5 11.99 14.5ZM12 32.5C7.58 32.5 4 28.92 4 24.5C4 20.08 7.58 16.5 12 16.5C16.42 16.5 20 20.08 20 24.5C20 28.92 16.42 32.5 12 32.5Z"
                                fill="black" fill-opacity="0.6" />
                            <path id="Vector_2" d="M12.5 19.5H11V25.5L16.25 28.65L17 27.42L12.5 24.75V19.5Z" fill="black"
                                fill-opacity="0.6" />
                        </g>
                        <g id="Horizontal-S">
                            <g id="value-unit">
                                <g id="Single-value">
                                    <text id="000" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                        font-family="Open Sans" font-size="24" font-weight="600" letter-spacing="-0.01em">
                                        <tspan id="timeLeft" x="72.0509" y="33.8105">14:34:32</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
                <g id="Frame 374">
                    <g id="Frame 371_2">
                        <g id="date_range" clip-path="url(#clip1_39060_256341)">
                            <path id="Vector_3"
                                d="M9 56.5H7V58.5H9V56.5ZM13 56.5H11V58.5H13V56.5ZM17 56.5H15V58.5H17V56.5ZM19 49.5H18V47.5H16V49.5H8V47.5H6V49.5H5C3.89 49.5 3.01 50.4 3.01 51.5L3 65.5C3 66.6 3.89 67.5 5 67.5H19C20.1 67.5 21 66.6 21 65.5V51.5C21 50.4 20.1 49.5 19 49.5ZM19 65.5H5V54.5H19V65.5Z"
                                fill="black" fill-opacity="0.6" />
                        </g>
                        <g id="Horizontal-S_2">
                            <g id="value-unit_2">
                                <g id="Single-value_2">
                                    <text id="000_2" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                        font-family="Open Sans" font-size="24" font-weight="600" letter-spacing="-0.01em">
                                        <tspan id="dateLeft" x="42.4081" y="66.8105">12-08-2021</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g id="Dropdown">
                <g id="Button">
                    <g id="button">
                        <g id="content">
                            <g id="textbox">
                                <text id="label" fill="black" fill-opacity="0.9" xml:space="preserve"
                                    style="white-space: pre" font-family="Open Sans" font-size="16" font-weight="600"
                                    letter-spacing="-1px">
                                    <tspan x="182" y="47.207">UTC 1</tspan>
                                </text>
                            </g>
                        </g>
                        <g id="02-arrow-drop-down">
                            <path id="Icon" d="M238 39L243 44L248 39H238Z" fill="black" fill-opacity="0.55" />
                        </g>
                    </g>
                </g>
            </g>
        </g>
        <defs>
            <clipPath id="clip0_39060_256341">
                <rect width="24" height="24" fill="white" transform="translate(0 12.5)" />
            </clipPath>
            <clipPath id="clip1_39060_256341">
                <rect width="24" height="24" fill="white" transform="translate(0 45.5)" />
            </clipPath>
        </defs>
    </svg>
<script>
    var clockTimeLeft = document.querySelector("#timeLeft");
    var dateLeft = document.querySelector("#dateLeft");

    function gettingTime() {
        const date = new Date();
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        let hour = date.getHours();
        let minutes = date.getMinutes(); 
        let seconds = date.getSeconds(); 
        console.log(day, month, year, hour, minutes, seconds);
        clockTimeLeft.innerHTML = `${hour}:${minutes}:${seconds}`;
        dateLeft.innerHTML = `${day}-${month}-${year}`;         
    }
    setInterval(() => {
        gettingTime()
    }, 10);

</script>
</body>
</html>