<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg width="363" height="334" viewBox="0 0 363 334" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="weather" filter="url(#filter0_d_39060_270108)">
            <g clip-path="url(#clip0_39060_270108)">
                <g id="Cards" filter="url(#filter1_d_39060_270108)">
                    <g clip-path="url(#clip1_39060_270108)">
                        <rect x="1" width="361" height="332" rx="2" fill="#F7F7F7" />
                    </g>
                </g>
                <g id="Frame 328">
                    <g id="Tabs">
                        <mask id="path-3-inside-1_39060_270108" fill="white">
                            <path
                                d="M35.5 286C35.5 284.895 36.3954 284 37.5 284H325.5C326.605 284 327.5 284.895 327.5 286V330C327.5 331.105 326.605 332 325.5 332H37.5C36.3954 332 35.5 331.105 35.5 330V286Z" />
                        </mask>
                        <path
                            d="M35.5 286C35.5 284.895 36.3954 284 37.5 284H325.5C326.605 284 327.5 284.895 327.5 286V330C327.5 331.105 326.605 332 325.5 332H37.5C36.3954 332 35.5 331.105 35.5 330V286Z"
                            fill="#F0F0F0" />
                        <g id="Tab item">
                            <rect id="divider-right" x="180.5" y="296" width="1" height="24" rx="0.5" fill="black"
                                fill-opacity="0.08" />
                            <g id="content" clip-path="url(#clip2_39060_270108)">
                                <g id="textbox">
                                    <text id="label" fill="black" fill-opacity="0.9" xml:space="preserve"
                                        style="white-space: pre" font-family="Open Sans" font-size="16"
                                        letter-spacing="0px">
                                        <tspan x="88.5" y="314.207">Wind</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                        <g id="Tab item_2">
                            <mask id="path-7-inside-2_39060_270108" fill="white">
                                <path d="M181.5 284H327.5V332H181.5V284Z" />
                            </mask>
                            <path d="M181.5 284H327.5V332H181.5V284Z" fill="#F7F7F7" />
                            <g id="content_2" clip-path="url(#clip3_39060_270108)">
                                <g id="textbox_2">
                                    <text id="label_2" fill="black" fill-opacity="0.9" xml:space="preserve"
                                        style="white-space: pre" font-family="Open Sans" font-size="16" font-weight="bold"
                                        letter-spacing="0px">
                                        <tspan x="219.5" y="314.207">Weather</tspan>
                                    </text>
                                </g>
                            </g>
                            <path d="M326.5 284V332H328.5V284H326.5ZM182.5 332V284H180.5V332H182.5Z" fill="black"
                                fill-opacity="0.08" mask="url(#path-7-inside-2_39060_270108)" />
                        </g>
                        <path
                            d="M35.5 286C35.5 284.343 36.8431 283 38.5 283H324.5C326.157 283 327.5 284.343 327.5 286C327.5 285.448 326.605 285 325.5 285H37.5C36.3954 285 35.5 285.448 35.5 286ZM327.5 332H35.5H327.5ZM35.5 332V284V332ZM327.5 284V332V284Z"
                            fill="black" fill-opacity="0.08" mask="url(#path-3-inside-1_39060_270108)" />
                    </g>
                </g>
                <g id="Horizontal-M">
                    <g id="Single-label">
                        <text id="Label" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                            font-family="Open Sans" font-size="32" letter-spacing="0em">
                            <tspan x="51" y="97.4141">Air Temp.</tspan>
                        </text>
                    </g>
                    <g id="value-unit">
                        <g id="Single-value">
                            <text id="000" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="32" font-weight="600" letter-spacing="0em">
                                <tspan x="210.141" y="94.4141">15.0</tspan>
                            </text>
                        </g>
                        <g id="Single-unit">
                            <text id="unit" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="32" letter-spacing="0em">
                                <tspan x="274" y="97.4141">&#xb0;C</tspan>
                            </text>
                        </g>
                    </g>
                </g>
                <g id="Horizontal-M_2">
                    <g id="Single-label_2">
                        <text id="Label_2" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                            font-family="Open Sans" font-size="32" letter-spacing="0em">
                            <tspan x="51" y="153.414">Humidity</tspan>
                        </text>
                    </g>
                    <g id="value-unit_2">
                        <g id="Single-value_2">
                            <text id="000_2" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="32" font-weight="600" letter-spacing="0em">
                                <tspan x="204.141" y="150.414">40.0</tspan>
                            </text>
                        </g>
                        <g id="Single-unit_2">
                            <text id="unit_2" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="32" letter-spacing="0em">
                                <tspan x="268" y="153.414">%</tspan>
                            </text>
                        </g>
                    </g>
                </g>
                <g id="Horizontal-M_3">
                    <g id="Single-label_3">
                        <text id="Label_3" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                            font-family="Open Sans" font-size="32" letter-spacing="0em">
                            <tspan x="51" y="209.414">Pressure</tspan>
                        </text>
                    </g>
                    <g id="value-unit_3">
                        <g id="Single-value_3">
                            <text id="000_3" fill="#166CE4" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="32" font-weight="600" letter-spacing="0em">
                                <tspan x="199.031" y="206.414">010</tspan>
                            </text>
                        </g>
                        <g id="Single-unit_3">
                            <text id="unit_3" fill="black" fill-opacity="0.6" xml:space="preserve" style="white-space: pre"
                                font-family="Open Sans" font-size="32" letter-spacing="0em">
                                <tspan x="254" y="209.414">hPa</tspan>
                            </text>
                        </g>
                    </g>
                </g>
            </g>
        </g>
        <defs>
            <filter id="filter0_d_39060_270108" x="0" y="0" width="363" height="334" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="0.5" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_39060_270108" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_39060_270108" result="shape" />
            </filter>
            <filter id="filter1_d_39060_270108" x="0" y="0" width="363" height="334" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="1" />
                <feGaussianBlur stdDeviation="0.5" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_39060_270108" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_39060_270108" result="shape" />
            </filter>
            <clipPath id="clip0_39060_270108">
                <rect x="1" width="361" height="332" rx="2" fill="white" />
            </clipPath>
            <clipPath id="clip1_39060_270108">
                <rect x="1" width="361" height="332" rx="2" fill="white" />
            </clipPath>
            <clipPath id="clip2_39060_270108">
                <rect width="55" height="24" fill="white" transform="translate(80.5 296)" />
            </clipPath>
            <clipPath id="clip3_39060_270108">
                <rect width="85" height="24" fill="white" transform="translate(211.5 296)" />
            </clipPath>
        </defs>
    </svg>
<script>
    var degText = document.querySelector("#DegText");
    degText.innerHTML = 200;
</script>
</body>
</html>