<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <svg
      id="svgWind"
      width="363"
      height="334"
      viewBox="0 0 363 334"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="wind" filter="url(#filter0_d_39060_270213)">
        <g clip-path="url(#clip0_39060_270213)">
          <g id="Cards" filter="url(#filter1_d_39060_270213)">
            <g clip-path="url(#clip1_39060_270213)">
              <rect x="1" width="361" height="332" rx="2" fill="#F7F7F7" />
            </g>
          </g>
          <g id="Frame 328">
            <g id="Frame 334">
              <g id="Frame 332">
                <g id="Compass watchface">
                  <g id="windAndWheaterWatchface">
                    <g id="frame">
                      <g id="frame_2">
                        <mask
                          id="path-3-outside-1_39060_270213"
                          maskUnits="userSpaceOnUse"
                          x="97.0777"
                          y="31.6983"
                          width="169.532"
                          height="169.532"
                          fill="black"
                        >
                          <rect
                            fill="white"
                            x="97.0777"
                            y="31.6983"
                            width="169.532"
                            height="169.532"
                          />
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M232.552 84.4034C250.215 112.602 241.673 149.779 213.475 167.442C185.277 185.104 148.099 176.563 130.437 148.365C112.774 120.166 121.315 82.9885 149.514 65.3261C177.712 47.6638 214.89 56.205 232.552 84.4034ZM209.637 161.315C234.452 145.772 241.968 113.056 226.425 88.2411C210.882 63.4264 178.166 55.9102 153.352 71.4531C128.537 86.996 121.021 119.712 136.564 144.527C152.106 169.342 184.823 176.858 209.637 161.315Z"
                          />
                        </mask>
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M232.552 84.4034C250.215 112.602 241.673 149.779 213.475 167.442C185.277 185.104 148.099 176.563 130.437 148.365C112.774 120.166 121.315 82.9885 149.514 65.3261C177.712 47.6638 214.89 56.205 232.552 84.4034ZM209.637 161.315C234.452 145.772 241.968 113.056 226.425 88.2411C210.882 63.4264 178.166 55.9102 153.352 71.4531C128.537 86.996 121.021 119.712 136.564 144.527C152.106 169.342 184.823 176.858 209.637 161.315Z"
                          fill="white"
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M232.552 84.4034C250.215 112.602 241.673 149.779 213.475 167.442C185.277 185.104 148.099 176.563 130.437 148.365C112.774 120.166 121.315 82.9885 149.514 65.3261C177.712 47.6638 214.89 56.205 232.552 84.4034ZM209.637 161.315C234.452 145.772 241.968 113.056 226.425 88.2411C210.882 63.4264 178.166 55.9102 153.352 71.4531C128.537 86.996 121.021 119.712 136.564 144.527C152.106 169.342 184.823 176.858 209.637 161.315Z"
                          stroke="#D6D6D6"
                          stroke-width="1.20493"
                          mask="url(#path-3-outside-1_39060_270213)"
                        />
                      </g>
                    </g>
                    <path
                      id="center-cross"
                      d="M153.352 71.4531L209.637 161.315M226.425 88.2411L136.564 144.527"
                      stroke="black"
                      stroke-opacity="0.05"
                      stroke-width="0.602467"
                    />
                    <g id="primary-tick-marks">
                      <path
                        id="tick-marks"
                        d="M152.712 70.4319L149.514 65.3261M213.475 167.442L210.277 162.336M227.447 87.6015L232.552 84.4034M130.437 148.365L135.542 145.166"
                        stroke="#D6D6D6"
                        stroke-width="0.602467"
                      />
                    </g>
                    <g id="labels">
                      <g id="90&#194;&#176;">
                        <g id="LabelFrame">
                          <path
                            id="north-arrow"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M140.417 69.0598L141.199 52.0511L156.844 58.7705C153.906 60.0317 151.028 61.5342 148.234 63.2839C145.441 65.0336 142.833 66.9675 140.417 69.0598Z"
                            fill="#333333"
                          />
                          <text
                            id="N"
                            transform="translate(140.245 56.203) rotate(-32.0614)"
                            fill="white"
                            xml:space="preserve"
                            style="white-space: pre"
                            font-family="Open Sans"
                            font-size="12"
                            font-weight="bold"
                            letter-spacing="0px"
                          >
                            <tspan x="0.0594454" y="7.62438">N</tspan>
                          </text>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
                <g id="ROT-Circular">
                  <g id="ROT Circle M">
                    <path
                      id="Bar"
                      d="M226.543 78.2028C216.417 66.2551 201.959 58.8193 186.351 57.5314"
                      stroke="#166CE4"
                      stroke-width="2.77894"
                    />
                    <circle
                      id="border-inside"
                      cx="181.495"
                      cy="116.384"
                      r="57.3157"
                      transform="rotate(4.71709 181.495 116.384)"
                      stroke="black"
                      stroke-opacity="0.05"
                      stroke-width="0.694736"
                    />
                    <circle
                      id="border-outisde"
                      cx="181.494"
                      cy="116.384"
                      r="60.7894"
                      transform="rotate(4.71709 181.494 116.384)"
                      stroke="black"
                      stroke-opacity="0.05"
                      stroke-width="0.694736"
                    />
                  </g>
                </g>
                <g id="Ship - Top">
                  <path
                    id="Ship"
                    d="M168.294 101.121C168.294 88.8504 177.753 76.784 181.494 76.784C185.236 76.784 194.694 88.4414 194.694 101.121V152.684C194.694 154.506 193.217 155.984 191.394 155.984H171.594C169.772 155.984 168.294 154.506 168.294 152.684V101.121Z"
                    fill="white"
                    stroke="#8C8C8C"
                    stroke-width="0.694736"
                  />
                  <path
                    id="Cross"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M181.842 116.037H194.694V116.731L168.294 116.731V116.037H181.147L181.147 76.784H181.842L181.842 116.037Z"
                    fill="#8C8C8C"
                  />
                </g>
                <g
                  id="windAndWheaterFrame_331"
                  clip-path="url(#clip2_39060_270213)"
                >
                  <g id="Wind">
                    <g id="11-wind-7">
                      <g id="Icon">
                        <path
                          d="M231.361 46.1304L229.839 45.0744L220.862 58.0129L219.34 56.9569L217.927 63.8686L223.907 60.125L222.384 59.069L231.361 46.1304Z"
                          fill="#1A1A1A"
                        />
                        <path
                          d="M235.927 49.2985L235.399 50.0596L230.833 46.8915L231.361 46.1304L235.927 49.2985Z"
                          fill="#1A1A1A"
                        />
                        <path
                          d="M234.343 51.5818L233.815 52.3429L229.249 49.1748L229.777 48.4137L234.343 51.5818Z"
                          fill="#1A1A1A"
                        />
                        <path
                          d="M230.476 52.281L229.948 53.0421L227.665 51.458L228.193 50.697L230.476 52.281Z"
                          fill="#1A1A1A"
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g id="Frame 330">
                <g id="Vertical-S">
                  <g id="Single-label">
                    <text
                      id="Label"
                      fill="black"
                      fill-opacity="0.6"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="16"
                      letter-spacing="0em"
                    >
                      <tspan x="53" y="194.596">Speed</tspan>
                    </text>
                  </g>
                  <g id="value-unit">
                    <g id="Single-value">
                      <text
                        id="000"
                        fill="#166CE4"
                        xml:space="preserve"
                        style="white-space: pre"
                        font-family="Open Sans"
                        font-size="16"
                        font-weight="600"
                        letter-spacing="0em"
                      >
                        <tspan id="windSpeed" x="53" y="214.596">8.5</tspan>
                      </text>
                    </g>
                    <g id="Single-unit">
                      <text
                        id="unit"
                        fill="black"
                        fill-opacity="0.6"
                        xml:space="preserve"
                        style="white-space: pre"
                        font-family="Open Sans"
                        font-size="16"
                        letter-spacing="0em"
                      >
                        <tspan x="76" y="214.596">kn</tspan>
                      </text>
                    </g>
                  </g>
                </g>
                <g id="Vertical-S_2">
                  <g id="Single-label_2">
                    <text
                      id="Label_2"
                      fill="black"
                      fill-opacity="0.6"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="16"
                      letter-spacing="0em"
                    >
                      <tspan x="241" y="194.596">Direction</tspan>
                    </text>
                  </g>
                  <g id="value-unit_2">
                    <g id="Single-value_2">
                      <text
                        id="000_2"
                        fill="#166CE4"
                        xml:space="preserve"
                        style="white-space: pre"
                        font-family="Open Sans"
                        font-size="16"
                        font-weight="600"
                        letter-spacing="0em"
                      >
                        <tspan id="windDirection" x="275.531" y="214.596">
                          026
                        </tspan>
                      </text>
                      <text
                        id="Degree"
                        fill="#166CE4"
                        xml:space="preserve"
                        style="white-space: pre"
                        font-family="Open Sans"
                        font-size="16"
                        font-weight="600"
                        letter-spacing="0em"
                      >
                        <tspan x="303" y="214.596">&#xb0;</tspan>
                      </text>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <g id="Tabs">
              <mask id="path-20-inside-2_39060_270213" fill="white">
                <path
                  d="M35.5 286C35.5 284.895 36.3954 284 37.5 284H325.5C326.605 284 327.5 284.895 327.5 286V330C327.5 331.105 326.605 332 325.5 332H37.5C36.3954 332 35.5 331.105 35.5 330V286Z"
                />
              </mask>
              <path
                d="M35.5 286C35.5 284.895 36.3954 284 37.5 284H325.5C326.605 284 327.5 284.895 327.5 286V330C327.5 331.105 326.605 332 325.5 332H37.5C36.3954 332 35.5 331.105 35.5 330V286Z"
                fill="#F0F0F0"
              />
              <g id="tab-item">
                <mask id="path-22-inside-3_39060_270213" fill="white">
                  <path d="M35.5 284H181.5V332H35.5V284Z" />
                </mask>
                <path d="M35.5 284H181.5V332H35.5V284Z" fill="#F7F7F7" />
                <g id="content" clip-path="url(#clip3_39060_270213)">
                  <g id="textbox">
                    <text
                      id="label"
                      fill="black"
                      fill-opacity="0.9"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="16"
                      font-weight="bold"
                      letter-spacing="0px"
                    >
                      <tspan x="87.5" y="314.207">Wind</tspan>
                    </text>
                  </g>
                </g>
                <path
                  d="M180.5 284V332H182.5V284H180.5Z"
                  fill="black"
                  fill-opacity="0.08"
                  mask="url(#path-22-inside-3_39060_270213)"
                />
              </g>
              <g id="tab-item_2">
                <rect
                  id="divider-right"
                  x="326.5"
                  y="296"
                  width="1"
                  height="24"
                  rx="0.5"
                  fill="black"
                  fill-opacity="0.08"
                />
                <g id="content_2" clip-path="url(#clip4_39060_270213)">
                  <g id="textbox_2">
                    <text
                      id="label_2"
                      fill="black"
                      fill-opacity="0.9"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="16"
                      letter-spacing="0px"
                    >
                      <tspan x="222" y="314.207">Weather</tspan>
                    </text>
                  </g>
                </g>
              </g>
              <path
                d="M35.5 286C35.5 284.343 36.8431 283 38.5 283H324.5C326.157 283 327.5 284.343 327.5 286C327.5 285.448 326.605 285 325.5 285H37.5C36.3954 285 35.5 285.448 35.5 286ZM327.5 332H35.5H327.5ZM35.5 332V284V332ZM327.5 284V332V284Z"
                fill="black"
                fill-opacity="0.08"
                mask="url(#path-20-inside-2_39060_270213)"
              />
            </g>
          </g>
        </g>
      </g>
      <defs>
        <filter
          id="filter0_d_39060_270213"
          x="0"
          y="0"
          width="363"
          height="334"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="0.5" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_39060_270213"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_39060_270213"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_d_39060_270213"
          x="0"
          y="0"
          width="363"
          height="334"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="0.5" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_39060_270213"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_39060_270213"
            result="shape"
          />
        </filter>
        <clipPath id="clip0_39060_270213">
          <rect x="1" width="361" height="332" rx="2" fill="white" />
        </clipPath>
        <clipPath id="clip1_39060_270213">
          <rect x="1" width="361" height="332" rx="2" fill="white" />
        </clipPath>
        <clipPath id="clip2_39060_270213">
          <rect
            width="33.3473"
            height="183.41"
            fill="white"
            transform="translate(220.068 31.5316) rotate(34.7513)"
          />
        </clipPath>
        <clipPath id="clip3_39060_270213">
          <rect
            width="57"
            height="24"
            fill="white"
            transform="translate(79.5 296)"
          />
        </clipPath>
        <clipPath id="clip4_39060_270213">
          <rect
            width="80"
            height="24"
            fill="white"
            transform="translate(214 296)"
          />
        </clipPath>
      </defs>
    </svg>
    <svg
      id="svgWeather"
      width="363"
      height="334"
      style="display: none"
      viewBox="0 0 363 334"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="weather" filter="url(#filter0_d_39060_270108)">
        <g clip-path="url(#clip0_39060_270108)">
          <g id="Cards" filter="url(#filter1_d_39060_270108)">
            <g clip-path="url(#clip1_39060_270108)">
              <rect x="1" width="361" height="332" rx="2" fill="#F7F7F7" />
            </g>
          </g>
          <g id="Frame 328">
            <g id="Tabs">
              <mask id="path-3-inside-1_39060_270108" fill="white">
                <path
                  d="M35.5 286C35.5 284.895 36.3954 284 37.5 284H325.5C326.605 284 327.5 284.895 327.5 286V330C327.5 331.105 326.605 332 325.5 332H37.5C36.3954 332 35.5 331.105 35.5 330V286Z"
                />
              </mask>
              <path
                d="M35.5 286C35.5 284.895 36.3954 284 37.5 284H325.5C326.605 284 327.5 284.895 327.5 286V330C327.5 331.105 326.605 332 325.5 332H37.5C36.3954 332 35.5 331.105 35.5 330V286Z"
                fill="#F0F0F0"
              />
              <g id="tab-item">
                <rect
                  id="divider-right"
                  x="180.5"
                  y="296"
                  width="1"
                  height="24"
                  rx="0.5"
                  fill="black"
                  fill-opacity="0.08"
                />
                <g id="content" clip-path="url(#clip2_39060_270108)">
                  <g id="textbox">
                    <text
                      id="label"
                      fill="black"
                      fill-opacity="0.9"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="16"
                      letter-spacing="0px"
                    >
                      <tspan x="88.5" y="314.207">Wind</tspan>
                    </text>
                  </g>
                </g>
              </g>
              <g id="tab-item_2">
                <mask id="path-7-inside-2_39060_270108" fill="white">
                  <path d="M181.5 284H327.5V332H181.5V284Z" />
                </mask>
                <path d="M181.5 284H327.5V332H181.5V284Z" fill="#F7F7F7" />
                <g id="content_2" clip-path="url(#clip3_39060_270108)">
                  <g id="textbox_2">
                    <text
                      id="label_2"
                      fill="black"
                      fill-opacity="0.9"
                      xml:space="preserve"
                      style="white-space: pre"
                      font-family="Open Sans"
                      font-size="16"
                      font-weight="bold"
                      letter-spacing="0px"
                    >
                      <tspan x="219.5" y="314.207">Weather</tspan>
                    </text>
                  </g>
                </g>
                <path
                  d="M326.5 284V332H328.5V284H326.5ZM182.5 332V284H180.5V332H182.5Z"
                  fill="black"
                  fill-opacity="0.08"
                  mask="url(#path-7-inside-2_39060_270108)"
                />
              </g>
              <path
                d="M35.5 286C35.5 284.343 36.8431 283 38.5 283H324.5C326.157 283 327.5 284.343 327.5 286C327.5 285.448 326.605 285 325.5 285H37.5C36.3954 285 35.5 285.448 35.5 286ZM327.5 332H35.5H327.5ZM35.5 332V284V332ZM327.5 284V332V284Z"
                fill="black"
                fill-opacity="0.08"
                mask="url(#path-3-inside-1_39060_270108)"
              />
            </g>
          </g>
          <g id="Horizontal-M">
            <g id="Single-label">
              <text
                id="Label"
                fill="black"
                fill-opacity="0.6"
                xml:space="preserve"
                style="white-space: pre"
                font-family="Open Sans"
                font-size="32"
                letter-spacing="0em"
              >
                <tspan x="51" y="97.4141">Air Temp.</tspan>
              </text>
            </g>
            <g id="value-unit">
              <g id="Single-value">
                <text
                  id="000"
                  fill="#166CE4"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  font-weight="600"
                  letter-spacing="0em"
                >
                  <tspan id="wheaterAirTemp" x="210.141" y="94.4141">
                    15.0
                  </tspan>
                </text>
              </g>
              <g id="Single-unit">
                <text
                  id="unit"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="274" y="97.4141">&#xb0;C</tspan>
                </text>
              </g>
            </g>
          </g>
          <g id="Horizontal-M_2">
            <g id="Single-label_2">
              <text
                id="Label_2"
                fill="black"
                fill-opacity="0.6"
                xml:space="preserve"
                style="white-space: pre"
                font-family="Open Sans"
                font-size="32"
                letter-spacing="0em"
              >
                <tspan x="51" y="153.414">Humidity</tspan>
              </text>
            </g>
            <g id="value-unit_2">
              <g id="Single-value_2">
                <text
                  id="000_2"
                  fill="#166CE4"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  font-weight="600"
                  letter-spacing="0em"
                >
                  <tspan id="wheaterHumidity" x="204.141" y="150.414">
                    40.0
                  </tspan>
                </text>
              </g>
              <g id="Single-unit_2">
                <text
                  id="unit_2"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="268" y="153.414">%</tspan>
                </text>
              </g>
            </g>
          </g>
          <g id="Horizontal-M_3">
            <g id="Single-label_3">
              <text
                id="Label_3"
                fill="black"
                fill-opacity="0.6"
                xml:space="preserve"
                style="white-space: pre"
                font-family="Open Sans"
                font-size="32"
                letter-spacing="0em"
              >
                <tspan x="51" y="209.414">Pressure</tspan>
              </text>
            </g>
            <g id="value-unit_3">
              <g id="Single-value_3">
                <text
                  id="000_3"
                  fill="#166CE4"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  font-weight="600"
                  letter-spacing="0em"
                >
                  <tspan id="wheaterPressure" x="199.031" y="206.414">
                    010
                  </tspan>
                </text>
              </g>
              <g id="Single-unit_3">
                <text
                  id="unit_3"
                  fill="black"
                  fill-opacity="0.6"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Open Sans"
                  font-size="32"
                  letter-spacing="0em"
                >
                  <tspan x="254" y="209.414">kPa</tspan>
                </text>
              </g>
            </g>
          </g>
        </g>
      </g>
      <defs>
        <filter
          id="filter0_d_39060_270108"
          x="0"
          y="0"
          width="363"
          height="334"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="0.5" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_39060_270108"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_39060_270108"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_d_39060_270108"
          x="0"
          y="0"
          width="363"
          height="334"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="0.5" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_39060_270108"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_39060_270108"
            result="shape"
          />
        </filter>
        <clipPath id="clip0_39060_270108">
          <rect x="1" width="361" height="332" rx="2" fill="white" />
        </clipPath>
        <clipPath id="clip1_39060_270108">
          <rect x="1" width="361" height="332" rx="2" fill="white" />
        </clipPath>
        <clipPath id="clip2_39060_270108">
          <rect
            width="55"
            height="24"
            fill="white"
            transform="translate(80.5 296)"
          />
        </clipPath>
        <clipPath id="clip3_39060_270108">
          <rect
            width="85"
            height="24"
            fill="white"
            transform="translate(211.5 296)"
          />
        </clipPath>
      </defs>
    </svg>
  </body>
</html>
